extends layout

block content
  header#header
    h1 Current Observations
    p Belmont Gardens Neighborhood, Chicago, IL
    small Last updated <time id="date" datetime="">#{date}</time>
  main#content
    ul#observations
      li.temperature
        h2 Current Temperature
        div <b id="tempf">#{tempf}</b>°
      li.rain
        h2 Daily Rainfall
        div <b id="dailyrainin">#{dailyrainin}</b>″
      li.wind
        h2 Wind
        ul
          li.speed
            <b id="winddir" data-winddir="#{_wind.deg}">#{_wind.direction}</b> at <b id="windspeedmph">#{windspeedmph}</b> mph
          li.gust
            <b id="windgustmph">#{windgustmph}</b> mph gust
      li.dewpoint
        h2 Dew Point
        div <b id="dewPoint">#{dewPoint}</b>°
      li.humidity
        h2 Humidity
        div <b id="humidity">#{humidity}</b>%
      li.uv
        h2 UV Index
        div <b id="uv" class="#{_uv.class}">#{_uv.index}</b> <b id="uv-risk">#{_uv.risk}</b> risk
      li.radiation
        h2 Solar Radiation
        div <b id="solarradiation">#{solarradiation}</b> watts/m²
