extends layout

block content
  h1 Belmont Gardens Weather
  p.
    At <time id="date" datetime="#{date}">#{shortDate}</time>, it is
    <b id="tempf">#{tempf}</b>℉, with wind out of the
    <b id="winddir" data-winddir="#{winddir}">#{cardinalDirection}</b> at
    <b id="windspeedmph">#{windspeedmph}</b> mph.
